<?xml version="1.0"?>

<config>
    <modules>
        <Paw_Payanyway>
            <version>1.4.0</version>
        </Paw_Payanyway>
    </modules>
    <global>
        <models>
            <payanyway>
                <class>Paw_Payanyway_Model</class>
            </payanyway>
        </models>
        <helpers>
            <payanyway>
                <class>Paw_Payanyway_Helper</class>
            </payanyway>
        </helpers>
        <resources>
            <payanyway_setup>
                <setup>
                    <module>Paw_Payanyway</module>
                </setup>
            </payanyway_setup>
        </resources>
        <blocks>
            <payanyway><class>Paw_Payanyway_Block</class></payanyway>
        </blocks>
        <payment>
            <groups>
                <paway>Payanyway</paway>
            </groups>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <payanyway_processing>/payanyway/processing</payanyway_processing>
        </secure_url>
        <routers>
            <payanyway>
                <use>standard</use>
                <args>
                    <module>Paw_Payanyway</module>
                    <frontName>payanyway</frontName>
                </args>
            </payanyway>
        </routers>
        <translate>
            <modules>
                <Paw_Payanyway>
                    <files>
                        <default>Paw_Payanyway.csv</default>
                    </files>
                </Paw_Payanyway>
            </modules>
        </translate>
        <layout>
            <updates>
                <payanyway>
                    <file>payanyway.xml</file>
                </payanyway>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payanyway after="Mage_Adminhtml">Paw_Payanyway</payanyway>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Paw_Payanyway>
                    <files>
                        <default>Paw_Payanyway.csv</default>
                    </files>
                </Paw_Payanyway>
            </modules>
        </translate>
<!--        <layout>
            <updates>
                <payanyway>
                    <file>payanyway.xml</file>
                </payanyway>
            </updates>
        </layout>-->
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payanyway translate="title" module="payanyway">
                                            <title>Account Settings</title>
                                        </payanyway>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <payanyway>
                <group>paway</group>
                <active>1</active>
                <model>payanyway/payanyway</model>
                <title>PayAnyWay</title>
				<unitid></unitid>
				<logotype>payanyway.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway>
            <payanyway_moneta>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/moneta</model>
                <title>Moneta.ru</title>
				<unitid>1015</unitid>
				<logotype>moneta.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_moneta>
            <payanyway_banktransfer>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/banktransfer</model>
                <title>Bank transfer</title>
				<unitid>705000</unitid>
				<logotype>banktransfer.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_banktransfer>
            <payanyway_ciberpay>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/ciberpay</model>
                <title>CiberPay</title>
				<unitid>489755</unitid>
				<logotype>ciberpay.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_ciberpay>
            <payanyway_comepay>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/comepay</model>
                <title>ComePay</title>
				<unitid>228820</unitid>
				<logotype>comepay.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_comepay>
            <payanyway_contact>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/contact</model>
                <title>Contact</title>
				<unitid>1028</unitid>
				<logotype>contact.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_contact>
            <payanyway_euroset>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/euroset</model>
                <title>Euroset, Svyaznoi</title>
				<unitid>248362</unitid>
 				<logotype>euroset.png</logotype>
               <allowspecific>0</allowspecific>
            </payanyway_euroset>
            <payanyway_elecsnet>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/elecsnet</model>
                <title>Elecsnet</title>
				<unitid>232821</unitid>
 				<logotype>elecsnet.jpg</logotype>
               <allowspecific>0</allowspecific>
            </payanyway_elecsnet>
            <payanyway_gorod>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/gorod</model>
                <title>Federal system Gorod</title>
				<unitid>426904</unitid>
				<logotype>gorod.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_gorod>
            <payanyway_forward>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/forward</model>
                <title>Forward</title>
				<unitid>83046</unitid>
				<logotype>forward.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_forward>
            <payanyway_mcb>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/mcb</model>
                <title>MosCreditBank</title>
				<unitid>295339</unitid>
				<logotype>mcb.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_mcb>
            <payanyway_moneymail>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/moneymail</model>
                <title>MoneyMail</title>
				<unitid>1038</unitid>
				<logotype>moneymail.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_moneymail>
            <payanyway_novoplat>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/novoplat</model>
                <title>Novoplat</title>
				<unitid>281129</unitid>
				<logotype>novoplat.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_novoplat>
            <payanyway_plastic>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/plastic</model>
                <title>VISA, MasterCard</title>
				<unitid>499669</unitid>
				<logotype>visa.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_plastic>
            <payanyway_platika>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/platika</model>
                <title>PLATiKA</title>
				<unitid>226272</unitid>
				<logotype>platika.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_platika>
            <payanyway_post>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/post</model>
                <title>Russian Post Transfer</title>
				<unitid>1029</unitid>
				<logotype>post.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_post>
            <payanyway_sberbank>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/sberbank</model>
                <title>Sberbank</title>
				<unitid>510801</unitid>
				<logotype>sberbank.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_sberbank>
            <payanyway_walletone>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/walletone</model>
                <title>Wallet One</title>
				<unitid>310212</unitid>
				<logotype>walletone.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_walletone>
            <payanyway_webmoney>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/webmoney</model>
                <title>WebMoney</title>
				<unitid>1017</unitid>
				<logotype>webmoney.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_webmoney>
            <payanyway_yandex>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/yandex</model>
                <title>Yandex.Money</title>
				<unitid>1020</unitid>
				<logotype>yandex.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_yandex>
            <payanyway_alfaclick>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/alfaclick</model>
                <title>Internet-bank "Alfa-Click"</title>
				<unitid>587412</unitid>
				<logotype>alfaclick.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_alfaclick>
            <payanyway_dengimail>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/dengimail</model>
                <title>Money@Mail.Ru</title>
				<unitid>545234</unitid>
				<logotype>dengimail.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_dengimail>
            <payanyway_qiwi>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/qiwi</model>
                <title>QIWI wallet</title>
				<unitid>822360</unitid>
				<logotype>qiwi.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_qiwi>
            <payanyway_faktura>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/faktura</model>
                <title>Faktura</title>
				<unitid>609111</unitid>
				<logotype>faktura.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_faktura>
            <payanyway_psb>
                <group>paway</group>
                <active>0</active>
                <model>payanyway/psb</model>
                <title>Internet-bank "Promsvyazbank"</title>
				<unitid>661709</unitid>
				<logotype>psb.jpg</logotype>
                <allowspecific>0</allowspecific>
            </payanyway_psb>
        </payment>
        <payanyway>
            <settings>
                <payment_action>www.payanyway.ru</payment_action>
				<mnt_test_mode>0</mnt_test_mode>
            </settings>
        </payanyway>
    </default>
</config>
